<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serivicios</title>
</head>

    <body>
        <nav style="text-align: center;">
            <h1>Servicios</h1>
            <a href="{% url 'practica_servicios:index' %}">🏠 Home</a>
            <a href="{% url 'practica_servicios:cliente_list' %}">👥 Clientes</a>
            <a href="{% url 'practica_servicios:servicios' %}">🛠️ Servicios</a>  
            <a href="{% url 'practica_servicios:pedidos' %}">📦 Pedidos</a>
        </nav>

        <main>
            {% block contenido %}
            {% endblock contenido %} 
        </main>
    </body>

</html>