{% extends 'practica_servicios/base.html' %}

{% block contenido %}
    
    {% if form.instance %}
        <h1>Editar Cliente</h1>
    {% else %}
        <h1>Crear Cliente</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">
            {% if form.instance.pk %}
                Actualizar 
            {% else %}
                Crear
            {% endif %}
        </button>
    </form>
    <button>
        <a href="{% url 'practica_servicios:cliente_list' %}">Volver</a>
    </button>

{% endblock contenido %}